*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
    scroll-behavior: smooth;
}
html{
    font-size: 20px;
}
body{
    overflow-x: hidden;
    background-color: #F4F4F5;

    color: #fff;
}

/*Header*/
.header{
    z-index: 99;
    position: sticky;
    top: 0;
    font-size: 0.85rem;
    width: 100%;
    padding: 1vh 50vh 1vh 50vh;
    display: flex;
    justify-content: space-between;
    background: #fff;
    backdrop-filter: blur(10px);
    align-items: center;
}
.nav-links {
  display: flex;
  gap: 2vh;
  font-weight: bold;
}
.active{
    color: red;
}
.brand-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 5vh;
}
.logo {
  height: 3.4vh; 
  width: auto;
    border-radius: 0.5vh;
}
.brand-name{
    margin-left: 0.5vh;
    color: #000;
}
a{
    text-decoration: none;
    color: #141414;
}
.header a{
    transition-duration: 0.4s;
}
.header .margin{
    margin-right: 40px;
}
/*Header*/
#page-container {
    position: relative;
    min-height: 100vh;
    margin-top: 0.5vh;
  }
  #content-wrap {
    padding-top: 1vh;
    padding-bottom: 3.5rem;
  }
  .background{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 75%;
    margin: 50px auto 50px;
        padding: 10px 0px 10px 0;
  }
.background h1{
    color: #141414;
    width: 65%;
    margin: 2.5vh auto 2.5vh;
    font-size: 3vh;
    text-align: center;
  }
  .background p{
    color: #141414;
    width: 65%;
    margin: 0.1vh auto 0.1vh;
    font-size: 1.5vh;
    text-align: center;
  }
    .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 75%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 85%;
    margin: 2.5vh auto 2.5vh;
    font-size: 3vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 85%;
    margin: 0.1vh auto 0.1vh;
    font-size: 2vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    width: 65%;
    text-align: center;
    max-width: 75%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 3vh;
  }
    .mail:hover{  
    background-color: #226122;
    cursor: pointer;
    transition: background-color 250ms linear;
}
    .mail.sent{  
    background-color: #175828;
    cursor: pointer; 
}
.album{
    width: 65%;
    display: grid;
    grid-gap: 30px;
    margin: 50px auto 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.album div{
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    align-self: center;
    text-align: center;
}
.album p{
    align-self: center;
}
.album img{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 350px;
    transition: .4s;
    border-radius:1.5vh ;
}
footer{
    background-color: #fff;
    color: #737783;
    font-size: 0.7rem;
    width: 100%;
    padding:1%;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:static;
    bottom: 0;
    cursor:default;
}
footer p{
    margin-top: 10px;
}
footer span{
    color: #000;
}

/*Responsive atributes for devices*/
@media all and (min-device-width: 3840px){
    .header{
        font-size: 2rem;
    }
    .album{
        width: 65%;
        display: grid;
        grid-gap: 2rem;
        margin: 2.1rem auto 2.1rem;
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    }
    .album img{
        height: 550px ;
    }

      .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 75%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 85%;
    margin: 2.5vh auto 2.5vh;
    font-size: 3vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 85%;
    margin: 0.1vh auto 0.1vh;
    font-size: 2vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    width: 65%;
    text-align: center;
    max-width: 75%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 3vh;
  }
    footer{
        font-size: 1.6rem;
    }
}
@media all and (min-device-width: 1901px)and (max-width:3830px){
    .album{
        width: 85%;
        display: grid;
        grid-gap: 30px;
        margin: 50px auto 50px;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
    .album img{
        height: 300px ;
    }
   .background h1{
        font-size: 2vh;
    }
      .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 55%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 55%;
    margin: 2.5vh auto 2.5vh;
    font-size: 2vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 85%;
    margin: 0.1vh auto 0.1vh;
    font-size: 1.5vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    text-align: center;
    max-width: 35%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 2vh;
  }
}
@media all and (max-width: 1301px)and (max-width: 1900px){
          .header{
    font-size: 2vh;
    padding: 3vh 30vh 3vh 30vh;
    }
    .album img{
        height: 250px ;
    }
        .background h1{
        font-size: 2vh;
    }
    .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 55%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 55%;
    margin: 2.5vh auto 2.5vh;
    font-size: 2vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 55%;
    margin: 0.1vh auto 0.1vh;
    font-size: 1.5vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    text-align: center;
    max-width: 35%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 2vh;
  }
}
@media all and (max-device-width: 1300px){
      .header{
    font-size: 2vh;
    padding: 3vh 20vh 3vh 20vh;
    }
    .album img{
        height: 250px ;
    }
        .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 55%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 75%;
    margin: 2.5vh auto 2.5vh;
    font-size: 2vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 75%;
    margin: 0.1vh auto 0.1vh;
    font-size: 1.5vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    text-align: center;
    max-width: 35%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 2vh;
  }
}
@media all and (max-device-width: 1200px){
      .header{
    font-size: 2rem;
    padding: 3vh 10vh 3vh 10vh;
    }
    .album img{
        height: 250px ;
    }
            .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 85%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 85%;
    margin: 2.5vh auto 2.5vh;
    font-size: 2.5vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 85%;
    margin: 0.1vh auto 0.1vh;
    font-size: 2vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    text-align: center;
    max-width: 55%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 2.5vh;
  }
}
@media all and (max-device-width: 1023px){
      .header{
    font-size: 1.3rem;
    padding: 1vh 8vh 1vh 10vh;
    }
    .album img{
        height: 250px ;
    }

}
@media all and (max-device-width: 768px){
        .header{
    padding: 1vh 8vh 1vh 10vh;
    font-size: 1.3rem;
    }
    .album img{
        height: 250px ;
    }
    .background-mail{  
    background-color: #fff;
    border-radius: 1.5vh;
    max-width: 85%;
    margin: 1vh auto 1vh;
        padding: 10px 0px 10px 0;
  }
      .background-mail h1{  
    color: #141414;
    width: 85%;
    margin: 2.5vh auto 2.5vh;
    font-size: 3vh;
    text-align: center;
  }
      .background-mail p{  
    color: #141414;
    width: 85%;
    margin: 0.1vh auto 0.1vh;
    font-size: 2vh;
    text-align: center;
  }
   .mail {  
    background-color: #000;
    color: #fff;
    border-radius: 1.5vh;
    text-align: center;
    max-width: 55%;
    margin: 5vh auto 5vh;
        padding: 10px 0px 10px 0;
        font-size: 3vh;
  }
}
@media all and (max-device-width: 488px){
    .header{
    font-size: 2rem;
    padding: 3vh 5vh 3vh 5vh;
    }
    .background{
        max-width: 85%;
    }
    .album img{
        height: 30rem ;
    }
    .album{
        width: 85%;
                grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    }
    footer{
        font-size: 0.8rem;
    }
}
@media all and (max-device-width: 319px){
    .album img{
        height: 250px ;
    }
}